body {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: Georgia, serif;
 font-weight: 500;
   font-size: 1.9em;  
}

.text
{color: #000000;
}

.memes
{
display: none;
 
}
a.text:hover+div
{
display: block;
   margin: 0 auto;
    width: 50%;
}

.container {
 max-width: 75%;
 margin: 0 auto;
}

.line {
 display: block;
 justify-content: space-between;
 border-top: 0.15em solid rgb(220, 220, 220);
}


